.dashboards-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0 64px 0;
    gap: 15px;
}

.dashboards-main-container > .header {
    color: #060606;
    font-size: 36px;
    font-weight: 700;
}

.dashboards-main-container > .dashboards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 64px;
}

.dashboards-main-container > .dashboards-container > .dashboards-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 270px;
    border: 1px solid transparent;
    background: linear-gradient(white, rgb(242, 240, 240)) padding-box, linear-gradient(180deg, #d6d7d8, #a7a7a7) border-box;
    border-radius: 12px;
    padding: 36px 0px;
    gap: 24px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.dashboards-main-container > .dashboards-container > .dashboards-item > .dashboard-item-title {
    color: #040404;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .dashboards-main-container{
        width: 70%;
    }
}