.FileUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.8rem;
}

.FileUpload > .Title {
  width: 70%;
  text-align: center;
  line-height: 2.5rem;
}

.FileUpload > .Subtitle {
    width: 70%;
    font-size: 1.25rem;
    text-align: center;
  }

.ub-box-szg_border-box {
  width: 100%;
  text-align: center;
}

div.FileUpload > div > div > div:nth-child(1) {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
}

.FileUpload > div > div > div.ub-mt_16px.ub-box-szg_border-box > div > div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.FileUpload > div > div > div.ub-mt_16px.ub-box-szg_border-box > div > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#root > div > div.FileUpload > div > div > div.ub-mt_16px.ub-box-szg_border-box > div > div > div > div.ub-ml_16px.ub-mr_8px.ub-box-szg_border-box {
    max-width: 45px;
}