.Navbar {
font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 6px solid #ed1c24;
}

.Navbar > a {
    display: flex;
    align-items: center;
}

.Navbar > .Title {
    margin: 10px;
  }

.logo > img {
  width: 70px;
}

.Navbar > .OxxoLogoLink > .OxxoLogo {
  width: 80px;
}

.Navbar > .UserLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.Navbar > .UserLink > .UserName {
  text-decoration: none;
  color: black;
}

.Navbar > .UserLink > .User {
  width: 40px;
}
