
.team-main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box {
	position: relative;
	transition: all .2s ease-out 0s
}
.box .box-content,
.box:after {
	position: absolute;
	left: 20px;
	right: 20px
}
.box:after {
	content: "";
	display: block;
	background: #edc476;
	top: 20px;
	bottom: 20px;
	opacity: 0;
	transform: rotate3d(-1, 1, 0, 100deg);
	transition: all .4s ease-in-out 0s
}
.box:hover:after {
	opacity: .9;
	transform: rotate3d(0, 0, 0, 0deg)
}
.box img {
	width: 100%;
	height: auto
}
.box .box-content {
	text-align: center;
	top: 45%;
	opacity: 0;
	z-index: 1;
	-webkit-transform: translate(10%, -30%);
	transform: translate(10%, -30%);
	transition: all .2s ease-out 0s
}
.box:hover .box-content {
	opacity: 1;
	transform: translate(0, -50%);
	transition-delay: .2s
}
.box .title {
	display: block;
	font-size: 22px;
	font-weight: 700;
	color: #E21C2A;
	margin: 0 0 10px
}
.box .post {
	display: block;
	font-size: 15px;
	color: #f7f7b9;
	margin-bottom: 20px
}

.imageEquipo{
    max-width: 300px;
    object-fit: cover;
}